# Default: alles LF
* text=auto eol=lf

# Windows-Skripte explizit CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# Unix-Skripte
*.sh text eol=lf
/mvnw text eol=lf

# Web / JS / TS
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.env  text eol=lf